* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgba(201, 195, 195);
    
}
.main {
    margin: 0 250px;
    /* border: 1px yellow solid; */
}
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:  0 260px;
    /* border: 1px yellow solid; */
    background-color: rgb(32, 33, 35);
    z-index: 999;
    overflow: hidden;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;

}

.content {
    position: relative;
    top: 100px;
    justify-content: space-between;
    width: 100%;
    color: rgb(2, 2, 2);
    display: flex;
    /* overflow: hidden; */
    /* border: 1px red solid; */
}

.text {
    width: 50%;
    color: rgb(0, 0, 0);
    /* border: 1px yellow solid; */
}

.selfpic {
    border: 1px yellow solid;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    /* left: ; */
    width:300px;
    height:300px;
}

.navbar{
    display:flex;
    justify-content: space-between;
    width: 300px;
    color: white; 
    font-size:10%; 
    /* border: 1px red solid;  */
}
.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    display:flex; 
    justify-content: space-between;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}
/* ------------------------------------- */
hr{
    border-top: 5px solid gray;
}
.work{
    position: relative;
    top: 200px;
    /* display: flex?; */
}
.work1{
    display: flex;
    justify-content: space-between;
    /* border: 5px solid rgb(230, 6, 6); */
}
.work1Detail{
    justify-content: center;
}
.bottombar{
    position: fixed;
    display: flex;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 33, 35);
    /* justify-content: space-between; */
}
.icon{
    margin: 8px 0 0 20px;
}
.icon a:visited,a:active,a:link{
    color: white;
}